.achievement {
  font-size: 140%;
  height: 130px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement--disabled {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  cursor: not-allowed;
  width: 100%;
  user-select: none;
}

.achievements--list {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1025px) {
  .achievements--list {
    flex-direction: column;
    height: auto;
  }

  .achievement {
    height: 300px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .achievement--disabled,
  .achievement--enabled {
    margin: 1em 0;
  }
}
